<div class="new-postbox">
  <figure>
    <%= image_tag current_user.avatar.url || "default_avatar.png" %>
  </figure>
  <div class="newpst-input">
    <%= form_with model: post, local: true do |f| %>
      <%= f.text_area :content, rows: "3", placeholder: t("text.write_something") %>
      <div class="attachments">
        <ul>
          <li>
            <i class="fa fa-image"></i>
            <label class="fileContainer">
              <input type="file">
            </label>
          </li>
          <li>
            <%= f.submit t("button.post"), class: "btn btn-primary" %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
